$brand-low: rgb(50,50,0) !default;

@mixin colorpattern($color) {
    color: lighten($color,20%);
    background-color: darken($color,2%);
}

#main {
    @include colorpattern($brand-low);
}

